# Подключение к БД (основная)
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_USER=default
DATABASE_PASSWORD=
DATABASE_DB=stripe_test

# Подключение к БД для тестов (config/test_settings.py)
TEST_DATABASE_HOST=127.0.0.1
TEST_DATABASE_PORT=5434
TEST_DATABASE_USER=default
TEST_DATABASE_PASSWORD=
TEST_DATABASE_DB=stripe

# Ключи Stripe (тестовые)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLIC_KEY=
