# Подключение к БД (основная)
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_USER=default
DATABASE_PASSWORD=qwerty123
DATABASE_DB=stripe_test

# Подключение к БД для тестов (config/test_settings.py)
TEST_DATABASE_HOST=127.0.0.1
TEST_DATABASE_PORT=5434
TEST_DATABASE_USER=default
TEST_DATABASE_PASSWORD=qwerty123
TEST_DATABASE_DB=stripe_test

# Ключи Stripe (тестовые)
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxx
